@import "bootstrap";
@import "styles";
@import "font-awesome";
@import "comments.scss";
@import "litera/bootswatch";





// search
.search {
  margin-right: 200px
}

@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';
.aa-input-container {
  display: inline-block;
  position: relative; }
.aa-input-search {
  width: 300px;
  padding: 12px 28px 12px 12px;
  border: 2px solid #e4e4e4;
  border-radius: 4px;
  -webkit-transition: .2s;
  transition: .2s;
  font-family: "Montserrat", sans-serif;
  box-shadow: 4px 4px 0 rgba(241, 241, 241, 0.35);
  font-size: 11px;
  box-sizing: border-box;
  color: #333;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  .aa-input-search::-webkit-search-decoration, .aa-input-search::-webkit-search-cancel-button, .aa-input-search::-webkit-search-results-button, .aa-input-search::-webkit-search-results-decoration {
    display: none; }
  .aa-input-search:focus {
    outline: 0;
    border-color: #3a96cf;
    box-shadow: 4px 4px 0 rgba(58, 150, 207, 0.1); }
.aa-input-icon {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 50%;
  right: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #e4e4e4; }
.aa-hint {
  color: #e4e4e4; }
.aa-dropdown-menu {
  background-color: #fff;
  border: 2px solid rgba(228, 228, 228, 0.6);
  border-top-width: 1px;
  font-family: "Montserrat", sans-serif;
  width: 300px;
  margin-top: 10px;
  box-shadow: 4px 4px 0 rgba(241, 241, 241, 0.35);
  font-size: 11px;
  border-radius: 4px;
  box-sizing: border-box; }
.aa-suggestion {
  padding: 12px;
  border-top: 1px solid rgba(228, 228, 228, 0.6);
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .aa-suggestion:hover, .aa-suggestion.aa-cursor {
    background-color: rgba(241, 241, 241, 0.35); }
  .aa-suggestion > span:first-child {
    color: #333; }
  .aa-suggestion > span:last-child {
    text-transform: uppercase;
    color: #a9a9a9; }
.aa-suggestion > span:first-child em, .aa-suggestion > span:last-child em {
  font-weight: 700;
  font-style: normal;
  background-color: rgba(58, 150, 207, 0.1);
  padding: 2px 0 2px 2px; }

  //



a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}

.frontpagetext {
    font-size: 16px;
    line-height: 25px;
    color: #999;
    font-weight: 300;
    margin: 0px 40px 10px;
}
ul {
  list-style-type: none;
}

//footer 

.item_e4bce {
    color: #999;
    font-size: 12px;
    padding: 2px;
    font-weight: 200;
}

.copyright_9f354 {
    color: #999;
    font-weight: 200;
    font-size: 10px;
    text-transform: uppercase;
    margin-top: 10px;
  }

  // footer end

img {
  vertical-align: middle;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #23527c;
  text-decoration: none;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
// make all images responsive by default
img {
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// footer

.container_d1640 {
    border-top: 1px solid #e8e8e8;
    padding-top: 10px;
}

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }

// Styles for form views
// using Bootstrap 3
// generated by the rails_layout gem
.authform {
  padding-top: 30px;
  max-width: 320px;
  margin: 0 auto;
}
.authform form {

  padding-bottom: 40px;
}
.authform .right {
  float: right !important;
}
.authform .button {
  @extend .btn;
  @extend .btn-primary;
}
.authform fieldset {

}
#error_explanation:not(:empty) {
  @extend .alert;
  @extend .alert-danger;
}
#error_explanation h2 {
  font-size: 16px;
}
.button-xs {
  @extend .btn;
  @extend .btn-primary;
}

/// Section area SHAREHUB.

.mainposts {
  margin-top: 25px; 
}

.headsection {
  padding: 30px 30px 30px 30px;
  margin-bottom: 30px;
  // margin-top :20px;
  background-color: #ffffff;
  border-radius: 6px;
  -webkit-box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.1);
}

.tagsection {
  padding: 30px 30px 30px 30px;
  margin-bottom: 30px;
  background-color: #ffffff;
  border-radius: 6px;
  -webkit-box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.1);
}

.sh-section {
  padding: 15px 15px 0;
  height: 140px;
  margin-bottom: 15px;
  background-color: #ffffff;
  border-radius: 6px;
  -webkit-box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.1);
}

.sh-section:hover {
  background-color: #337ab70a;
}

.sh-section__wrap {
  visibility: hidden;
}
.sh-section__wrap.sh-section__isotope-init {
  visibility: visible;
}
.sh-section__head,
.sh-section__content {
  // border-bottom: solid 1px #f3f3f3;
}
.sh-section__head {
  padding-bottom: 20px;
  align-items: center;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.sh-section__avatar {
  margin-right: 30px;
}
.sh-section__name {
  display: block;
  margin-right: 10px;
  font-weight: 600;
}
.sh-section__name:visited,
.sh-section__name:active,
.sh-section__name:link {
  color: #1e1633;
  a{
    color:#999 !important;
  }
}
.sh-section__passed {
  display: block;
  color: #9fa3ac;
}
.sh-section__link {
  margin-left: auto;
    a{
    color:#999 !important;
  }
}
.sh-section__link i {
  font-size: 18px;
}
.sh-section__link-repost {
  margin-left: auto;
}
.sh-section__link-repost i {
  font-size: 24px;
}
.sh-section__content {
  padding-top: 24px;
  padding-bottom: 30px;
}
.sh-section__content > p {
  font-size: 18px;
}
.sh-section__image {
  position: relative;
  margin-top: 24px;
}
.sh-section__image-gif a::after {
  position: absolute;
  content: 'gif';
  display: block;
  padding: 0 4px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.6);
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  right: 16px;
  top: 16px;
}
.sh-section__image img {
  border-radius: 6px;
}
.sh-section__image-info {
  position: absolute;
  width: 100%;
  padding: 28px 24px;
  bottom: -1px;
  background-color: #ffffff;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom: solid 1px #f3f3f3;
  border-left: solid 1px #f3f3f3;
  border-right: solid 1px #f3f3f3;
}
@media only screen and (max-width: 1024px) {
  .sh-section__image-info {
    position: relative;
    top: -10px;
  }
}
.sh-section__image-info div {
  font-weight: 600;
}
.sh-section__image-info p {
  color: 63616#b;
}
.sh-section__image-info span {
  color: #9fa3ac;
}
.sh-section__image-curtain {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: -webkit-linear-gradient(transparent 40%, rgba(0, 0, 0, 0.7));
  background-image: -moz-linear-gradient(transparent 40%, rgba(0, 0, 0, 0.7));
  background-image: -ms-linear-gradient(transparent 40%, rgba(0, 0, 0, 0.7));
  background-image: -o-linear-gradient(transparent 40%, rgba(0, 0, 0, 0.7));
  background-image: linear-gradient(transparent 40%, rgba(0, 0, 0, 0.7));
  align-items: flex-end;
  justify-content: space-between;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@media only screen and (max-width: 479px) {
  .sh-section__image-curtain {
    position: relative;
    padding-top: 16px;
    flex-wrap: wrap;
    background-image: none;
  }
}
.sh-section__image-curtain-text {
  margin-bottom: 24px;
  margin-left: 30px;
}
@media only screen and (max-width: 479px) {
  .sh-section__image-curtain-text {
    margin: 0;
    margin-bottom: 15px;
  }
}
.sh-section__image-curtain-text p {
  color: #ffffff;
  font-weight: 400;
}
@media only screen and (max-width: 479px) {
  .sh-section__image-curtain-text p {
    color: #1e1633;
  }
}
.sh-section__image-curtain-text span {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
}
@media only screen and (max-width: 479px) {
  .sh-section__image-curtain-text span {
    color: #1e1633;
  }
}
.sh-section__image-curtain .sh-btn {
  margin-bottom: 24px;
  margin-right: 30px;
  border-width: 1px;
}
@media only screen and (max-width: 479px) {
  .sh-section__image-curtain .sh-btn {
    margin: 0;
    margin-bottom: 15px;
  }
}
.sh-section__images {
  margin: 0 -5px;
  margin-top: 14px;
  flex-wrap: wrap;
}
.sh-section__images div {
  padding: 0 5px;
  margin-top: 10px;
}
.sh-section__images div a {
  position: relative;
  display: block;
}
.sh-section__images div a::before {
  content: '';
  display: block;
  padding-top: 66%;
}
.sh-section__images div a img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
}
.sh-section__media {
  margin-top: 24px;
}
.sh-section__repost {
  margin: 0 -30px;
  padding: 30px 30px 0;
  background-color: #f7fbfd;
}
.sh-section__code {
  display: block;
  border-radius: 6px;
  background-color: #f7fbfd;
}
.sh-section__code span {
  white-space: pre;
}
.sh-section__code li {
  padding: 6px 20px;
}
.sh-section__code li:nth-child(even) {
  background-color: #ecf0f3;
}
.sh-section__voting {
  margin-top: 24px;
}
.sh-section__compare {
  margin-top: 24px;
}
.sh-section__rating {
  margin-top: 24px;
}
.sh-section__offer {
  margin-top: 24px;
}
.sh-section__options {
  padding: 22px 0;
  border-bottom: solid 1px #f3f3f3;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.sh-section__options .sh-btn-icon:not(:last-child) {
  margin-right: 30px;
}
.sh-section__options-btn {
  margin-left: auto;
}
.sh-section__options-btn i {
  color: #3482e2;
  font-size: 20px;
}
.sh-section__footer {
  padding-top: 0px;

  padding-bottom: 5px;
  flex-wrap: wrap;
  align-items: center;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  text-decoration: none;
  a {
    color:#999
  }
}

.likecomment {
  margin-left: auto;
}
.sh-section__footer .sh-btn-icon {
  margin-top: 10px;
  margin-left: 3px;
}

.sh-btn-icon {
  border-radius: 3px;
  margin: 1px 1px 1px 1px;

  color: #337ab7;
  transition: color 2s;
}
.sh-btn-icon:hover {

  color: #337ab7;
}

.sh-section__btn-upvote,
.sh-section__btn-downvote,
.sh-section__btn-repost,
.sh-section__btn-like,
.sh-section__btn-stat,
.sh-section__btn-options {
  margin-right: 30px;
}
.sh-section__btn-like span,
.sh-section__btn-comment span {
  margin-left: 15px;
}
.sh-section__btn-stat {
  position: relative;
}
.sh-section__btn-repost i {
  font-size: 23px;
}
.sh-section__btn-share {
  margin-left: auto;
}
.sh-section__btn-awesome {
  padding: 3px 10px;
  margin-top: 10px;
  margin-right: 30px;
  background-color: #9fa3ac;
  border: solid 1px #9fa3ac;
  border-radius: calc(6px * 0.6);
  text-align: center;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}
.sh-section__btn-awesome:visited,
.sh-section__btn-awesome:active,
.sh-section__btn-awesome:link {
  color: #ffffff;
    a{
    color:#999 !important;
  }
}
.sh-section__btn-awesome:hover {
  background-color: #ffffff;
  color: #9fa3ac;
}
.sh-section__btn-save {
  min-width: 84px;
  padding: 3px 10px;
  margin-top: 10px;
  background-color: #3482e2;
  border: solid 1px #3482e2;
  border-radius: calc(6px * 0.6);
  text-align: center;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}
.sh-section__btn-save:visited,
.sh-section__btn-save:active,
.sh-section__btn-save:link {
  color: #ffffff;
}
.sh-section__btn-save:hover {
  background-color: #ffffff;
  color: #3482e2;
}
.sh-section__btns-right {
  margin-left: auto;
  align-items: center;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.sh-section__feeling {
  padding: 15px 30px 30px;
  margin: 0 -30px;
  background-color: #f7fbfd;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
.sh-section.sh-section__edit-post {
  margin-top: 44px;
}
.sh-section.sh-section__edit-post .sh-section__content {
  padding-top: 0;
}

// Avatar

.sh-avatar {
  display: block;
  background-color: #ffffff;
  border-radius: 6px;
  min-width: 48px;
  width: 65px;
  height: 65px;
}

// header

  .sh-content-head {
  padding-top: 6px;
  padding-bottom: 26px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  a {
    color:black
  }
}
.sh-content-head__flex-off {
  display: block;
}

@media only screen and (min-width: 769px) {
  .sh-content-head__btn-calendar.active i {
    z-index: 100001;
  }
}
.sh-content-head__btn-prev i {
  margin-right: 30px;
}
@media only screen and (max-width: 479px) {
  .sh-content-head__btn-prev span {
    display: none;
  }
}
.sh-content-head__btn-next span {
  margin-right: 30px;
}
@media only screen and (max-width: 479px) {
  .sh-content-head__btn-next span {
    display: none;
  }
}
.sh-content-head .row [class^='col-'] {
  align-items: center;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.sh-content-head__navigation {
  width: 100%;
  justify-content: space-between;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@media only screen and (max-width: 1024px) {
  .sh-content-head__navigation {
    margin-bottom: 20px;
  }
}
.sh-content-head h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}
@media only screen and (max-width: 1024px) {
  .sh-content-head h1 {
    margin: 0 auto;
    text-align: center;
    order: 1;
  }
}
@media only screen and (max-width: 479px) {
  .sh-content-head h1 {
    font-size: 18px;
  }
}
.sh-content-head h1 a {
  border-bottom: solid 2px #3482e2;
}
.sh-content-head__btn-submit {
  background-color: #9fa3ac;
}
.sh-content-head__btn-submit:visited,
.sh-content-head__btn-submit:active,
.sh-content-head__btn-submit:link {
  color: #ffffff;
}
.sh-content-head__btn-comments {
  background-color: #eef3f6;
}
.sh-content-head__btn-comments:visited,
.sh-content-head__btn-comments:active,
.sh-content-head__btn-comments:link {
  color: #63616b;
}
.sh-content-head__btn-favorites {
  background-color: #eef3f6;
}
.sh-content-head__btn-favorites:visited,
.sh-content-head__btn-favorites:active,
.sh-content-head__btn-favorites:link {
  color: #63616b;
}
.sh-content-head__btns {
  margin-top: 10px;
  margin-bottom: 10px;
}
@media only screen and (min-width: 1025px) {
  .sh-content-head__btns {
    margin-left: 150px;
  }
}
@media only screen and (max-width: 768px) {
  .sh-content-head__btns {
    width: 100%;
    order: 1;
  }
}
.sh-content-head__btns .sh-btn {
  height: 36px;
  border: solid 1px #9fa3ac;
  border-radius: 20px;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
}
@media only screen and (max-width: 1024px) {
  .sh-content-head__btns .sh-btn {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
.sh-content-head__btns .sh-btn:hover {
  background-color: #ffffff;
  color: #63616b;
}
.sh-content-head__btns .sh-btn:not(:last-child) {
  margin-right: 30px;
}
.sh-content-head__control {
  width: 170px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@media only screen and (max-width: 1024px) {
  .sh-content-head__btn-calendar,
  .sh-content-head__control {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.sh-content-head__right-col {
  width: 100%;
  justify-content: space-between;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.sh-content-head__right-col .sh-content-head__control {
  width: 70px;
  margin-left: auto;
}
.sh-content-head__text div {
  font-weight: 700;
}
.sh-content-head__text span {
  color: #9fa3ac;
}
.sh-content-head__popularity-btn {
  position: relative;
  display: inline-block;
}
.sh-content-head__popularity-btn > span {
  display: inline-block;
  color: #3482e2;
  border-bottom: solid 2px #3482e2;
}
.sh-content-head__popularity-btn:hover .sh-content-head__popularity-content {
  display: block;
}
.sh-content-head__popularity-content {
  display: none;
  position: absolute;
  width: 200px;
  padding: 22px 30px;
  top: calc(100% - 2px);
  background-color: #3482e2;
  color: #ffffff;
  font-size: 16px;
  z-index: 10;
}
@media only screen and (min-width: 769px) {
  .sh-content-head__popularity-content {
    left: 0;
  }
}
@media only screen and (max-width: 768px) {
  .sh-content-head__popularity-content {
    right: 0;
  }
}
.sh-content-head__popularity-head span {
  display: block;
  margin-bottom: 4px;
}
.sh-content-head__popularity-head span:first-child {
  font-weight: 600;
}
.sh-content-head__popularity-body {
  margin-top: 22px;
  padding-top: 22px;
  border-top: solid 1px #ffffff;
}
.sh-content-head__popularity-body ul li:not(:first-child) {
  margin-top: 16px;
}
.sh-content-head__popularity-body ul li a {
  font-weight: 300;
  color: #ffffff;
}